**/.vs/*
*.db
*.obj
*.log
*.tlog
*.pdb
*.exp
*.pch
*.opendb
*.idrc
*.dSYM
installers
**/objRx64/*
**/objDx64/*
**/objR64/*
**/objD64/*
**/objR/*
**/objD/*
**/release/*
**/release64/*
**/objR/*
**/Debug/*
**/Release/*
**/ObjRelease/*
**/OutPut/*
**/build/*
**/.DS_Store
